body {
  font-family: Arial, sans-serif;
  background: url(./assets/bg.jpg);
  margin: 0;
  padding: 20px;
}

h1 {
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(255, 72, 0, 0.8);
  font-size: calc(1.5rem + 1vw);
}

#root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-repeat: repeat-x, repeat-y;
}

.bold_info {
  font-weight: bold;
}

.character {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  width: calc(18% - 20px);
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.character img.character-image {
  max-width: 100%;
  max-height: 200px;
  filter: drop-shadow(2px 2px 2px rgb(0, 89, 255));
}

.character:hover img.character-image {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  filter: drop-shadow(2px 2px 2px rgb(255, 60, 0));
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dragon-ball-icon-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  position: absolute;
  align-self: flex-end;
  filter: none;
  transition: opacity 0.2s;
  background-color: rgb(0, 89, 255);
  border-radius: 50%;
  padding: .25rem;
}

.dragon-ball-icon{
    width: 20px;
}

.character:hover .dragon-ball-icon-container {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
  background-color: rgb(255, 60, 0);
}

button {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: rgb(255, 60, 0);
  transition: background-color 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}


@media screen and (max-width: 768px) {
  .character {
    width: calc(40% - 20px);
  }
    
}